name: push to blog repo

on:
  push:
    branches:
      - main

jobs:
  commit-to-other-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4

      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          repository: abacef/abacef.github.io
          token: ${{ secrets.PUSH_TO_ABACEF_GITHUB_IO }}
          path: target-repo

      - name: Copy files
        run: |
          ls -a
          rm -r * ./target-repo/
          cp ./* ./target-repo/
          cp -r blog ./target-repo/

      - name: Commit and push changes
        run: |
          cd target-repo
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add --all
          git commit -m "Automated build from blog source"
          git push
